# Python
__pycache__/
*.py[cod]
*$py.class
.python-version

# Virtual environments
venv/
.env/
env/
.venv/
mon_env/

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Pytest
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# System
.DS_Store
Thumbs.db
